@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

.TopContentContainer {
    height: 715px;
    width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    h2, span, p {
        margin: 0 auto;
        color: #fff;
    }
    .titleOne {
        font-size: 76px;
        font-weight: 100;
        margin-top: 195px;
        font-family: 'Montserrat', sans-serif;
    }
    .titleTwo {
        font-size: 76px;
        font-weight: 800;
        font-family: 'Montserrat', sans-serif;
    }
    .titleThree {
        font-size: 20px;
        margin-bottom: 190px;
        font-family: 'Varela Round', sans-serif;
    }
    .titleFour {
        font-size: 24px;
        font-family: 'Varela Round', sans-serif;
    }
}