.section-title {
  &-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__name {
    padding-top: 65px;
    margin-bottom: 25px;
    font-size: 2.25em;
    text-transform: capitalize;
  }
  &__text {
    margin-bottom: 54px; 
    font-size: 1.25em;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
  }
}