@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';


@import url('https://fonts.googleapis.com/css?family=Krona+One|Montserrat|Varela+Round');

body, h1, h2, h3, ul {
    margin: 0
}

.upcomming-events {
    background: #e5f8fb;
    height: 970px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    &-title {
        color: #2a3250;
        font-size: 36px;
        font-family: 'Montserrat', sans-serif;
        margin-top: 65px;
        font-weight: 700
    }
    &-text {
        color: #2a3250;
        font-size: 20px;
        font-family: 'Varela Round', sans-serif;
        margin-top: 20px;
    }
    &-events {
        margin-top: 50px;
        display: flex;
        justify-content: space-around;
        width: 100%;
        align-items: center;
        &-event {
            width: 690px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            &-title {
                &__title {
                    font-size: 16px;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 700;
                }
                &__location, &__price {
                    color: #afb5b6;
                    font-size: 14px;
                    font-family: 'Montserrat', sans-serif;
                    margin-right: 20px;
                }
            }
            &-index {
                width: 90px;
                height: 60px;
                background: #fffa66;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 30px;
                font-family: 'Montserrat', sans-serif;
                font-weight: 500;
            }
            &-table {
                width: 100%;
                height: 130px;
                background: #fff;
                border: 1px #f0eff1 solid;
                margin-top: 30px;
                color: #afb5b6;
                font-size: 16px;
                font-family: 'Montserrat', sans-serif;
                th, td {
                    text-align: left;
                    margin-left: 10px;
                    border: 1px #f0eff1 solid; 
                }
            }
        }
    }
}