@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

.postTop-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 265px;
  opacity: 0.8;
  background: linear-gradient(to right, rgba(17, 6, 109, 0.404), rgba(55, 25, 228, 0.39)) ,url('../../assets/city_vector_panorama_119914_3840x2160.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.postTop-wrapper-main-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}

.postTop-wrapper-user {
  display: flex;
  align-items: center;
  &__image {
    width: 68px;
    height: 68px;
    border: 1px solid #ffffff;
    border-radius: 100px;
    margin-right: 25px;
  }
  &__info {
    &--name {
      text-transform: capitalize;
      color: #ffffff;
      font-family: "Montserrat";
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 10px;
    }
    &--status {
      text-transform: capitalize;
      color: #ffea01;
      font-family: "Montserrat";
      font-size: 14px;
      font-weight: 500;
    }
  }
}

.postTop-wrapper-profile {
  display: flex;
  align-items: center;
  @media (max-width: 767px) {
    flex-direction: column;
  }
  &__status {
    display: flex;
    margin-right: 31px;
    @media (max-width: 576px) {
        flex-direction: column;
      }
      @media (max-width: 767px) {
        margin-bottom: 8px;
      }
    &--follow {
      &-number {
        font-family: "Montserrat";
        font-size: 14px;
        font-weight: 500;
        color: #ffea01;
        margin-right: 10px;
      }
      &-text {
        text-transform: uppercase;
        color: #ffffff;
        font-family: "Montserrat";
        font-size: 14px;
        font-weight: 500;
      }
    }
    &--separation {
      margin: 0 10px 0 10px;
      color: #ffffff;
      font-size: 14px;
      font-weight: 500;
    }
  }
  &__button {
    position: relative;
    &--btn {
      width: 161px;
      height: 41px;
      background-color: #ffffff;
    text-transform: capitalize;
    color: #000000;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 500;
  }
  &--icon {
    position: absolute;
    color: #471fc0;
    bottom: -20px;
    right: 127px;
    font-size: 16px;
    line-height: 83.33px;
    font-weight: 400;
    }
  }
}
