@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

.users-wrapper {
  display: flex;
  justify-content: center;
  .user-wrapper-main-content {
    width: 100%;
  }
}

.user-wrapper-tabs {
  margin-top: 53px;
  display: flex;
  justify-content: start;
  margin-bottom: 28px;
  &__content {
    margin-right: 32px;
    display: flex;
    justify-content: center;
    width: 142px;
    height: 54px;
    box-shadow: 2px -2px 9px rgba(0, 0, 0, 0.07);
    background: linear-gradient(to top, #5092e6 0%, #27d1dd 100%);
    border: none;
    &--icon {
      margin-right: 10px;   
      font-weight: 400;
      color: #6585fd;
    }
    &--text {
      color: #6585fd;
      font-family: "Myriad Pro";
      font-weight: 400;
      text-transform: uppercase;
    }
  }
}
