@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';


@import url('https://fonts.googleapis.com/css?family=Krona+One|Montserrat|Varela+Round');

.place-detail {
    display: flex;
    justify-content: center;
    .place-detail-container {
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
    }
}

.main-info {
    width: 1050px;
    &-tabs {
        width: 100%;
        border-bottom: 1px solid #ebebeb;
        margin-bottom: 50px;
        background: #fff;
        &__tab {
            border: none;
            background: none;
            font-size: 20px;
            padding: 10px 20px;
            font-family: 'Montserrat', sans-serif;
            color: #2a3250;
            font-weight: 700;
            outline: none;
            &_selected {
                color: #6585fd;
                border-bottom: 1px #6585fd solid;
            }
            &:hover{
                color: #6585fd;
                border-bottom: 1px #6585fd solid;
                cursor: pointer;
            } 
        }
    }
    .overview {
        &__text {
            & p {
                color: #696969;
                font-size: 16px;
                font-family: 'Varela Round', sans-serif;
                line-height: 2;
                margin-bottom: 20px;
                & br {
                    line-height: 4;
                }
            }
        }
        &__title {
            font-size: 36px;
            font-family: 'Montserrat', sans-serif;
            color: #696969;
            margin-bottom: 35px;
        }
        &__pics {
            width: 100%;
            height: 470px;
            background: #e7e7e7;
            margin-bottom: 20px;
        }
        &__save {
            width: 100%;
            height: 140px;
            background: #42a5e3;
        }
    }
}

.contact {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .sidebars-form-wrapper {
        width: 500px;
        div {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-bottom: 25px;
            input {
                background: none;
                border: 1px #b7b7b7 solid;
                width: 100%;
                height: 40px;
                padding-left: 15px;
                font-size: 16px;
                font-family: 'Varela Round', sans-serif
            }
            span {
                font-size: 16px;
                font-family: 'Varela Round', sans-serif;
                margin-bottom: 5px;
            }
        }
        .sidebars-button {
            margin-left: 260px;
        }
    }
    &-map {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 500px;
        background: #f7f7f7;
    }
}

.video {
    display: flex;
    justify-content: center;
    div {
        width: 1000px;
        height: 500px;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        background: #f7f7f7;
    }
}

.sidebar {
    width: 28%;
}

.sidebar-owner-info {
    @include detailSidebar;
    height: 400px;
    @include displayFlexOnCenter;
    &__avatar {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background: #e7e7e7;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    &__name {
        color: #101010;
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
    }
    &__status {
        color: #f85454;
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        margin-bottom: 40px;
    }
    &__followers {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        div {
            width: 100px;
            display: flex;
            align-items: center;
            flex-direction: column;
            span {
                color: #333333;
                font-size: 14px;
                font-family: 'Varela Round', sans-serif;
                margin-bottom: 10px;
                font-weight: 600;
            }
        }
    }
    &__follow {
        color: #ffba00;
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
        svg {
            height: 14px;
            width: 14px;
            font-size: 14px;
            transform: rotate(45deg);
        }
    }
}

.sidebar-owner-contacts {
    @include detailSidebar;
    height: 350px;
    @include displayFlexOnCenter;
    &-info {
        list-style: none;
        color: #ababab;
        font-size: 14px;
        font-family: 'Varela Round', sans-serif;
        font-weight: 500;
        margin-bottom: 35px;
        li {
            margin-bottom: 45px;
            display: flex;
            align-content: center;
            align-items: center;
            position: relative;
        }
        li:last-child {
            margin-bottom: 0;
        }
        &__icon {
            font-size: 20px;
            height: 20px;
            width: 20px;
            position: absolute;
            right: 220px;
        }
    }
    &-networks {
        list-style: none;
        margin-bottom: 25px;
        li {
            display: inline-block;
            padding: 0 5px;
            div {
                height: 40px;
                width: 40px;
                display: flex;
                align-content: center;
                align-items: center;
                justify-content: center;
                svg {
                    color: #fff;
                    font-size: 20px;
                    height: 20px;
                    width: 20px;
                }
            }
        }
        .sidebar-facebook {
            background: #355d93;
        }
        .sidebar-twitter {
            background: #35ccfd;
        }
        .sidebar-google {
            background: #f85454;
        }
        .sidebar-t {
            background: #39485d;
        }
        .sidebar-insta {
            background: #c43380;
        }
        .sidebar-in {
            background: #0676b4;
        }
    }
}

.sidebars-button {
    width: 90%;
    height: 50px;
    border: none;
    background: #e03e53;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    &:hover {
        cursor: pointer;
    }
}

.sidebars-title {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    margin-left: 12px;
    padding-top: 12px;
    margin-bottom: 30px;
    div {
        width: 42px;
        height: 42px;
        background: rgb(88,132,232);
        background: linear-gradient(135deg, rgba(88,132,232,1) 0%, rgba(44,199,222,1) 100%);
        margin-right: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
            color: #fff;
            font-size: 20px;
            height: 20px;
            width: 20px;
        }
    }
    h5 {
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
        color: #2a3250;
        }
}

.sidebars-form-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sidebar-price {
    @include detailSidebar;
    height: 135px;
    span {
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        margin-left: 20px;
    }
    &__price {
        color: #5da433;
    }
}

.sidebar-contact-me {
    @include detailSidebar;
    height: 540px;
    &-input-block {
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
        input {
            background: none;
            border: 1px #b7b7b7 solid;
            width: 290px;
            height: 40px;
            padding-left: 15px;
            font-size: 16px;
            font-family: 'Varela Round', sans-serif
        }
        span {
            font-size: 16px;
            font-family: 'Varela Round', sans-serif;
            margin-bottom: 5px;
        }
    }
}

.sidebar-map {
    @include detailSidebar;
    height: 180px;
}

.sidebar-gallery {
    @include detailSidebar;
    height: 180px;
}

.sidebar-subscribe {
    @include detailSidebar;
    height: 200px;
    position: relative;
    span {
        font-size: 14px;
        font-family: 'Varela Round', sans-serif;
        color: #949494;
        display: block;
        margin-left: 18px;
    }
    input {
        background: none;
        border: 1px #b7b7b7 solid;
        width: 90%;
        height: 40px;
        margin-left: 18px;
        padding-left: 15px;
        font-size: 16px;
        font-family: 'Varela Round', sans-serif;
        &::placeholder{
            font-size: 16px;
            font-family: 'Varela Round', sans-serif;
            color: #000;
        }
    }
    button {
        position: absolute;
        background: none;
        border: none;
        right: 25px;
        top: 106px;
        outline: none;
        @media (max-width: 576px) {
            top: 122px;
        }
        @media (min-width: 992px) {
            top: 122px;
        }
        @media (min-width: 1200px) { 
            top: 106px;
        }
        svg {
            font-size: 30px;
            height: 30px;
            width: 30px;
        }
    }
}

@media (min-width: 320px) {
    .place-detail {
        .place-detail-container {
            justify-content: center;
            align-content: center;
            align-items: center;
            flex-direction: column;
        } 
    }
    .main-info {
        width: 90%;
        margin-bottom: 50px;
        &-tabs {
            position: sticky;
            top: 70px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            border: none;
            &__tab {
                width: 50%;
                font-size: 14px;
                border: none;
                margin-bottom: 10px;
                &:hover {
                    border: none;
                }
            }
        }
    }
    .sidebar {
        width: 250px;
        &-owner-contacts-info {
            li {
                svg {
                    display: none;
                }
            }
        }
        &-contact-me-input-block {
            input {
                width: 100%;
            }
        }
    }
    .contact {
        flex-wrap: wrap-reverse;
        justify-content: center;
        flex-direction: column-reverse;
        align-content: center;
        .sidebars-form-wrapper {
            width: 80%;
            .sidebars-button {
                margin-left: 0;
            }
        }
        &-map {
            width: 80%;
            height: 300px;
            margin-bottom: 50px;
        }
    }
}
@media (min-width: 576px) {
    .place-detail {
        .place-detail-container {
            justify-content: center;
            direction: row;
        } 
    } 
    .main-info {
        width: 100%;
        margin-bottom: 50px;
        &-tabs {
            flex-wrap: nowrap;
            border-bottom: 1px solid #ebebeb;
            &__tab {
                margin: 0;
                width: unset;
                font-size: 14px;
                flex-wrap: nowrap;
                &_selected {
                    color: #6585fd;
                    border-bottom: 1px #6585fd solid;
                }
                &:hover {
                    border-bottom: 1px #6585fd solid;
                }
            }
        }
    }
    .sidebar {
        width: 330px;
    }
    .contact {
        flex-wrap: wrap-reverse;
        justify-content: center;
        flex-direction: column-reverse;
        align-content: center;
        .sidebars-form-wrapper {
            width: 51%;
        }
        &-map {
            width: 51%;
            height: 300px;
            margin-bottom: 50px;
        }
    }
}
@media (min-width: 768px) {
    .place-detail {
        .place-detail-container {
            justify-content: center;
            flex-direction: column;
            flex-wrap: wrap;
        } 
    } 
    .main-info {
        width: 90%;
        margin-bottom: 50px;
        &-tabs {
            border-bottom: 1px solid #ebebeb;
            &__tab {
                margin: 0;
                font-size: 17px;
            }
        }
    }
    .contact {
        flex-wrap: wrap-reverse;
        justify-content: center;
        flex-direction: column-reverse;
        .sidebars-form-wrapper {
            width: 51%;
        }
        &-map {
            width: 51%;
            height: 300px;
            margin-bottom: 50px;
        }
    }
    
}
@media (min-width: 992px) {
    .place-detail {
        .place-detail-container {
            justify-content: space-between;
            align-items: unset;
            flex-direction: row;
        } 
    }
    .sidebar {
        width: 250px;
        &-owner-contacts-info {
            li {
                svg {
                    display: none;
                }
            }
        }
        &-contact-me-input-block {
            input {
                width: 100%;
            }
        }
    }
    .main-info {
        width: 70%;
    }
    .contact {
        flex-wrap: wrap-reverse;
        .sidebars-form-wrapper {
            width: 51%;
            .sidebars-button {
                margin-left: 260px;
            }
        }
        &-map {
            width: 51%;
            height: 300px;
            margin-bottom: 50px;
        }
    }
}
@media (min-width: 1200px) { 
    .place-detail {
        .place-detail-container {
            justify-content: space-between;
            align-items: unset;
            flex-direction: row;
        } 
    }
    .main-info {
        width: 65%;
        margin-bottom: 50px;
    }
    .sidebar {
        width: 330px;
        &-owner-contacts-info {
            li {
                svg {
                    display: unset;
                }
            }
        }
        &-contact-me-input-block {
            input {
                width: 290px;
            }
        }
    }
    .contact {
        width: 100%;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        .sidebars-form-wrapper {
            width: 48%;
        }
        &-map {
            height: 300px;
            width: 48%;
        }
    }
    
}
@media (min-width: 1440px) { 
    
}