.filter-result {
  display: flex;
  justify-content: center;

  &-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    @media screen and (max-width: 1199px) {
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    @media  screen and (max-width: 767px) {
      justify-content:center;
    }
  }
}

.pages-numbers {
  width: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  &__button {
      margin-right: 10px;
      padding: 10px 22px;
      height: 50px;
      width: auto;
      box-sizing: border-box;
      background-color: #EBEBEB;
      border: none;
      font-weight: 500;
      font-size: 1em;

      @media screen and (max-width: 575px) {
          margin-right: 5px;
          padding: 5px 15px;
          height: 40px;
          font-size: 0.9em; 
      }  
  }
  &__button:hover {
    cursor: pointer;
  }
  &__button__icon {
      margin-left: 5px;
  }
}