@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

.category-border{
  height: 1px;
  background: linear-gradient(90deg, #597dcd 0%, #95d8e3 100%);
  border: none;
  margin: 0;
}

.category-wrapper{
  background: rgb(98,140,233);
  background: linear-gradient(60deg, #608AE9 30%, #2FC8DF 70%);
  height: 92px;
  display: flex;
  justify-content: center;
  }

  .category-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0px 10%;
    @media (max-width: 1199px) {
      padding: 0px 0px;
    }

  .category-block{
    display: flex;
    flex-direction: row;
    align-items: center;
    &:hover {
      cursor: pointer;
    }
    &__icon__wrapper {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 5px;
    }
  }
  .category-block__name{
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;

    @media (max-width: 992px) {
      display: none;
    }
  }
}

.category__icon_hotel{
  background-color: #fb718e;
}
.category__icon_hamburger{
  background-color: #6ec6fd;
}
.category__icon_map{
  background-color: #392d81;
}
.category__icon_coffee{
  background-color: #e979fa;
}
.category__icon_beer{
  background-color: #9cd47e;
}

.category__icon {
  color: #ffffff;
  border-radius: 50%;
  font-size: 20px;

  @media (max-width: 992px) {
    font-size: 25px;
  }
}