@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600|Varela+Round');

.subscribe {
    width: 100%;
    background-color: $subscribeBGcolor;
    @include displayFlexCenter;
}
.subscribe-strip {
    width: 100%;
    height: 8px;
    background: url('/static/strip.png') repeat;
}
.subscribe-wraper { 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subscribe__mail__icon {
    width: 68px;
    height: 68px;
    margin-right: 10px;
}
.subscribe-container {
    margin-right: 4%;
    padding: 0px 15px;
    box-sizing: border-box;
    height: 140px;
    width: 1440px;
    @include displayFlexCardRow;
}
.subscribe-description {
    width: 24.5%;
    margin-bottom: 27px; 
}
.subscribe-description__title {
    font-size: 1.54em;
    font-weight: 900; 
    color: #2a3250;
    .thin {
        font-weight: 300;
        font-size: 1.1em;
        color: #2a3250;
    }
}
.subscribe-description__text {
    font-size: 0.8em;
    font-weight: bold;
    font-family: 'Varela Round', sans-serif;
    color: #676e89;
}
.subscribe__input {
    padding-left: 20px;
    height: 50px;
    border: 0;
    background-color: rgb(255, 255, 255);
    font-family: 'Varela Round', sans-serif;
    font-size: 1.1em;
    color: #9498a7;
}
.email {
    width: 22%;
}
.name {
    width: 31%;
}
.subscribe__button {
    width: 16%;
    height: 50px;
    border: 0px;
    background-color: #e03e53;
    color: white;
    font-size: 1.2em;
}
