@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

.user-wrapper-listing {
  background-color: #ffffff;
  width: 100%;
  &__tabs {
    display: flex;
    margin-bottom: 60px;
    padding-top: 28px;
    &--btn {
      width: 145px;
      height: 41px;
      background-color: #6534c7;
      margin-right: 5px;
      color: #ffffff;
      font-family: "Montserrat";
      font-size: 14px;
      font-weight: 500;
      text-transform: capitalize;
    }
  }
  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 42px;
    grid-column-gap: 160px; 
    @media (max-width: 1400px) { 
      grid-column-gap: 50px; 
    }
    @media (max-width: 1400px) { 
      grid-column-gap: 20px; 
    }
    @media (max-width: 992px) { 
      grid-template-columns: 1fr;
      justify-items: center;
    }
    &--block {
      display: flex;
      align-items: center;
      margin-bottom: 42px;
      &__image {
        width: 210px;
        height: 137px;
        margin-right: 31px;
        img{
          width: 210px;
          height: 137px;
          object-fit: cover;
        }
      }
      &__sidebar {
        width: 289px;
        height: 137px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media (max-width: 1200px) { 
          width: 210px;
        }
        &--info {
          &__name {
            color: #232323;
            font-family: "Montserrat";
            font-size: 16px;
            font-weight: 400;
          }
          &__category {
            color: #949494;
            font-family: "Varela Round";
            font-size: 14px;
            font-weight: 400;
            text-transform: capitalize;
          }
        }
        &--buttons {
          display: flex;
          justify-content: space-between;
          @media (max-width: 1200px) { 
            flex-direction: column;
          }
          &__btn {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 89px;
            height: 26px;
            background-color: #e03e53;
            border-radius: 5px;
            border: none;
            &--icon {
              width: 15px;
              height: 13px;
              color: #ffffff;
              font-size: 12px;
              font-weight: 400;
              margin: 0 9px 0 20px;
            }
            &--text {
              color: #ffffff;
              font-family: "Montserrat";
              font-size: 12px;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}