@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600|Varela+Round');


.places-wrapper { 
    display: flex;
    width: 100%;
    justify-content: center;
}
.places-container {
    @include displayFlexOnCenter;
    width: 1440px;
    padding: 0px 15px;
    box-sizing: border-box;
}

.places-button-container {
    @include displayFlexCardRow;
    width: 100%;
    margin-bottom: 42px;
    .places__button{
        font-weight: 600;
        background: none; 
        border: solid 1px $placeCardFontColor;
        height: 50px;
        width: 13.2%;
        border-radius: 5px;
        font-size: 1.2em;
    }
    .places__button:hover {
        border: 0;
        color: white;
        background: -moz-linear-gradient(left, #5884e8 0%, #2cc7de 100%);
        background: -webkit-linear-gradient(left, #5884e8 0%, #2cc7de 100%);
        background: linear-gradient(left, #5884e8 0%, #2cc7de 100%);
    }
}
.place-cards-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}