@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

.article-title{
  display: flex;
  justify-content: center;
}
.aricle-title__name{
  color: #000000;
  font-size: 30px;
  font-weight: 400;
  line-height: 83.33px;
}
.article-tags{
  
}
.aricle-tags__wrapper{

}
.aricle-tags__title{

}
.aricle-tags__subtitle{

}
