@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

.section-discover {
  width: 100%;
  display: flex;
  justify-content: center;
}

.discover-cards-wrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  @media  screen and (max-width: 991px) {
    width: 100%;
  }
  .discover-card {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    max-width: 330px;
    height: 420px;
    
    @media screen and (max-width: 1199px) {
      margin-bottom: 30px;
    }
    @media screen and (max-width: 767px) {
      max-width: 250px;
      margin-bottom: 30px;
    }
    @media screen and (max-width: 575px) {
      max-width: 330px;
      margin-bottom: 80px;
    }

    &__image {
      object-fit: cover;
      width: 100%;
      height: 100%;
      opacity: 0.7;
    }
    .discover-card__info-text {
      position: relative;
      .discover-card__info-place {
        width: 115px;
        height: 39px;
        background-image: linear-gradient(-235deg, #6585fd 0%, #e834c3 100%);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 48px;
        .discover-card__info-place-name {
          color: #ffffff;
          font-family: 'Montserrat';
          font-size: 16px;
          font-weight: 400;
          text-transform: capitalize;
        }
      }
      .discover-card__info-destination {
        width: 155px;
        height: 39px;
        background-color: #000000;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 10px;
        .discover-card__info-destination-name {
          color: #ffffff;
          font-family: 'Montserrat';
          font-size: 16px;
          font-weight: 400;
          text-transform: capitalize;
        }
      }
    }
  }
}
