@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';


    .header {
        width: 1440px;
        height: 70px;
        display: flex;
        margin: 0;
        justify-content: space-between;
        &__brand {
            width: 200px;
            height: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
            &--title {
                font-family: 'Montserrat', sans-serif;
                font-size: 43px;
                color: #fff;
            }
        }
        &__navigation {
            display: flex;
            justify-content: space-between;
            &--list {
                list-style: none;
                margin-top: 25px;
                li {
                    display: inline;
                    margin-left: 20px;
                    color: #d994e1;
                    font-size: 12px;
                    font-family: 'Krona One', sans-serif;
                    a {
                        text-decoration: none;
                        color: #fff;
                    }
                }
                
            }
            .header__actions {
                margin-top: 17px;
                button {
                        margin-left: 20px;
                        width: 130px;
                        height: 33px;
                        border: #fff 1px solid;
                        border-radius: 3px;
                        background: none;
                        color: #fff;
                        font-family: 'Krona One', sans-serif;
                }
                a {
                    text-decoration: none;
                    color: #fff;
                    margin-left: 20px;
                    font-family: 'Krona One', sans-serif;
                    font-size: 12px;
                }
            }
        }
}



