
@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

.footer {
    background: -moz-linear-gradient(left, #2a385d 0%, #370c2e 100%);
    background: -webkit-linear-gradient(left, #2a385d 0%, #370c2e 100%);
    background: linear-gradient(left, #2a385d 0%, #370c2e 100%);
    width: 100%;
}
.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
   padding-bottom: 20px;

  }
  .footer__container {
    height: 400px;
    
      .footer__list {
         padding: 0;
         margin: 0;
         width: 400px;
         list-style: none;
         height: 345px;
         display: flex;
         justify-content: flex-start;
         flex-direction: column;
        
       li {
        margin: 20px;
        
      span {
        color: white;
      }
    }

  a {
    text-decoration: none;
    color: grey;
    }
    a:hover{
      color:aqua;
    }
  }
}

.footer__end {
  width: 1440px;
  height: 125px;
  display: flex;
  padding: 0%;
  margin: 0%;
justify-content: center;

  .footer__end-txt {
     display: flex;
     width: 100%;
     align-items: center;
     border-top: solid 1px grey;
     color: white;
     padding-left: 137px;
  }

  .footer__end-icons {
       @import url('/static/facebook-f-brands.svg');
      @import url('/static/instagram-brands.svg');
      @import url('/static/twitter-brands.svg');
      color: red;
  }
}