@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';
@import url('https://fonts.googleapis.com/css?family=Krona+One|Montserrat|Varela+Round');


.search-wrapper{
  background: rgb(94,136,233);
  background: linear-gradient(90deg, rgba(94,136,233,1) 0%, rgba(55,202,224,1) 100%);
  height: 94px;
  display: flex;
  justify-content: center;
      
}
.search-form{
    display: flex;
    justify-content: space-around;

    @media screen and (max-width: 768px) {
    flex-direction: column;
    height: 30px;
  }
}
.search-form__places{
  position: relative;
 }
 .search-form__location{
  position: relative;
  height: 55px;
 }
.search-form__input{
  width: 500px;
  height: 55px;
  background: none;
  border: 1px white solid;
  padding: 0;
  color: #fff;
  padding-left: 10px;
  font-size: 18px;

  @media screen and (max-width: 768px) {
    height: 30px;
    margin-bottom: 3px;

  }
}
.search-form__input::placeholder{
color: #ffffff;
font-family: "Varela Round";
font-weight: 400;
}

      
.search-form__button{
  vertical-align: middle;
  width: 260px;
  height: 54px;
  background-color: #e03e53;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border: #e03e53 1px solid;

  @media screen and (max-width: 768px) {
    width: 160px;
    height: 34px;
    font-size: 15px;
  }
}
.search-form__icon-search{
  position: absolute;
  right: 20px;
  bottom: 15px;
  height: 26px;
  opacity: 0.5;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 83.33px;

  @media screen and (max-width: 768px) {
    font-size: 15px;
    bottom: 10px;
  height: 15px;
  }
}
.search-form__icon-map{
  position: absolute;
  right: 20px;
  bottom: 15px;
  height: 26px;
  opacity: 0.5;
  color: #ffffff;
  font-size: 26px;
  font-weight: 400;
  line-height: 83.33px;

  @media screen and (max-width: 768px) {
    font-size: 15px;
    bottom: 10px;
    height: 15px;
  }
}
