@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';
@import '../../assets/styles/main.scss';
@import url('https://fonts.googleapis.com/css?family=Krona+One|Montserrat|Varela+Round');


.search-container{
  background: rgb(94,136,233);
  background: linear-gradient(90deg, rgba(94,136,233,1) 0%, rgba(55,202,224,1) 100%);
  height: 94px;
  display: flex;
  justify-content: center;
  .search{
    .search-form{
      display: flex;
      justify-content: space-around;
      .search-form__input{
        position: relative;
        .search-form__input-first{
          width: 550px;
          height: 55px;
          background: none;
          border: 1px white solid;
          padding: 0;
          color: #fff;
          padding-left: 10px;
          font-size: 18px;

        }
        .search-form__input-first::placeholder{
          color: #ffffff;
          font-family: "Varela Round";
          font-weight: 400;
        }
        .search-form__input-second{
          background: none;
          width: 410px;
          height: 55px;
          border: 1px solid #ffffff;
          color: #fff;
          font-size: 18px;
          padding-left: 10px;
        }
        .search-form__input-second::placeholder{
          opacity: 0.8;
          color: #ffffff;
          font-family: "Varela Round";
          font-weight: 400;
        }
        
      }
      .search-form__button{
          vertical-align: middle;
          width: 260px;
          height: 54px;
          background-color: #e03e53;
          color: #ffffff;
          font-family: 'Montserrat', sans-serif;
          font-size: 16px;
          font-weight: 400;
          text-transform: uppercase;
          border: #e03e53 1px solid;
        }
      }
  }
}
.search-icon{
  position: absolute;
  right: 20px;
  bottom: 15px;
  height: 26px;
  opacity: 0.5;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 83.33px;
}
.map{
  position: absolute;
  right: 20px;
  bottom: 15px;
  height: 26px;
  opacity: 0.5;
  color: #ffffff;
  font-size: 26px;
  font-weight: 400;
  line-height: 83.33px;
}