
@mixin displayFlexCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin displayFlexTynai {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}