$primaryColor: #5785e8;
$secondaryColor: #e03e53;
$placeCardYellow: #ffba00;
$placeCardBlue: #518ee6;
$placeCardOrange: #ff6c00;
$placeCardFontColor: #949494;
$placeCardButtonsColor: #ebebeb;
$placeCardGreen: #00a651;
$placeButtonGradient: (linear-gradient(left, #1e5799 0%,#5884e8 0%,#2cc7de 100%));
